body {
	display: flex; 
	justify-content: center;
	margin-top: 50px;
	font-family: Courier New, Baskerville, Georgia;
	font-size: 18px;
	line-height: 24px;
}

.container {
	max-width: 700px;
	min-width: 300px;
	display: grid;
	justify-items: center;
}

.top_photo {
	width: 300px;
	height: 300px;
	position: relative;
	padding-bottom: 20px;
}

.top_photo img {
	width: 300px;
	border-radius: 50%;
}

.top_photo .now {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.top_photo:hover .now {
	display: inline;
}

p {
	text-align: justify;
	padding-bottom: 10px;
}

a {
	text-decoration: none;
	font-weight: 400;
	color: black;
	background: linear-gradient(90deg, red, orange, green, blue, purple);
	background-clip: text;
	-webkit-background-clip: text;
	margin: auto;
}

a:hover {
	color: transparent;
	transition: 800ms ease;
}